.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: medium;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  cursor: pointer;
}
.tw-followCard:hover {
  background-color: rgba(255, 255, 255, 0.03);
  transition-duration: 0.2s;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: auto;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-size: medium;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
  transition: 0.3s ease background-color;
}
.tw-followCard-button:hover {
  background-color: #d5f7d9;
  border: 1px solid rgb(141, 204, 51);
}
.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid greenyellow;
  width: 140px;
}
.tw-followCard-button.is-following:hover {
  border: 1px solid red;
  background-color: #1d1d1d;
  color: red;
  width: 140px;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}
.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}
.tw-followCard-stopFollow {
  display: none;
}
